
@media screen and (max-width: 2000px) and (min-width: 800px){
  .crd
  {
    width:15rem;
    margin-left: 2rem;
  }
  .strt
  {
    margin-left: 20rem;
  }
}
/* @media only screen and (max-width: 600px) {
  .strt
  {
    margin-left: 2rem;
  }
  .crd
  {
    width:25rem;
  }
} */
@media  screen and (max-width:500px)  and (min-width:200px)
{
  .crd
  {
    margin-left: 2rem;
    margin-top: 1rem;
  }
}

.carousell
{
  margin-left:2rem;
}
.btn:hover
{
  background-color: black;
}
.topbtn:hover
{
  color: wheat;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  background-size: 100%, 100%;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: white;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: white;
}
.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  margin: 0 10px !important;
  border-radius: 100%;
  background-color: black !important;
}

/* .what_we_cover
{
  margin-left:20rem;
  margin-bottom: 2rem;
} */
